/* Import Helvetica Now Display Font */
@import url('https://fonts.cdnfonts.com/css/helvetica-now-display');

/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
